* {
  background: #78ff7d;
  font-family: sans-serif;
}
#Header {
  display: grid;
  height: 100px;
  grid-template-columns: 333px auto fit-content(100px) fit-content(100px);
  font-weight: bold;
  text-size: 30pt;
  border-bottom: 5px solid black;
}

#Header a {
  padding: 5px;
  text-decoration-line: none;
  text-align: center;
  color: black;
}

p {
  width: 50%;
  left-margin: 10%;
}
