* {
  background: #78ff7d;
  font-family: sans-serif;
}
#Header {
  display: grid;
  height: 100px;
  grid-template-columns: 333px auto 1fr 1fr;
  text-color: black;
  text-style: strong;
  text-decoration-line: none;
  text-size: 30pt;
}

p {
  width: 50%;
  left-margin: 10%;
}
