* {
  background: #78ff7d;
}
#Header {
  display: grid;
  height: 100px
  grid-template-columns: auto 1fr 1fr;
  text-color: black;
  text-style: strong;
  text-decoration-line: none;
  text-size: 30pt;
}
